{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
font-family: Arial, sans-serif;
background: #f2f4f7;
color: #333;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.container {
    width: 90%;
    max-width: 500px;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
}

header {
    text-align: center;
    margin-bottom: 25px;
}

.header h1 {
    color: #333;
    font-size: 28px;
}