{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
font-family: Arial, sans-serif;
background: #f2f4f7;
color: #333;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.container {
    width: 90%;
    max-width: 500px;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
}

header {
    text-align: center;
    margin-bottom: 25px;
}

.header h1 {
    color: #333;
    font-size: 28px;
}

.display-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f1f3f5;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 12px 15px;
    margin-bottom: 25px;
}

#password {
    font-size: 18px;
    font-weight:  bold;
    word-break: break-all;
}

.copy-btn {
    background: #4CAF50;
    color: white;
    border: none;
    padding: 9px 15px;
    border-radius: 7px;
    cursor: pointer;
    font-size: 14px;
}

.copy-btn:hover {
    background: #43a047;
}

.custom-section {
    margin-top: 10px;
}

.custom-section h2 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #444;
}

.control-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.control-label {
    font-size: 16px;
    font-weight: bold;
}

.counter {
    display: flex;
    align-items: center;
    gap: 15px;
}

.counter button {
    width: 35px;
    heigth: 35px;
    border:none;
    border-radius: 50%;
    background: #4CAF50;
    color: white;
    font-size: 22px;
    cursor: pointer;
}

.counter button:hover {
    background: 43a047;
}

#lengthVal {
    font-size: 18px;
    font-weight: bold;
    min-width: 25px;
    text-align: center;
}

.generate-btn {
    width: 100%;
    padding: 13px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    background: #4CAF50;
    color: white;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

.generate-btn:hover {
    background: #43a047;
}

@media (max-width:500px) {
    .container {
        padding: 20px;
    }

    .header h1 {
        font-size: 24px;
    }

    .display-box {
        flex-direction: colum;
        gap: 12px;
    }

    .copy-btn {
        width: 100%;
    }

    .control-group {
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }
}